<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <!DOCTYPE html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>
    <link rel="stylesheet" href="css/teacher.css"/>
</head>
<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder">全部答题情况</strong>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th style="text-align:left; padding-left:20px;" width="90">答复序号</th>
                <th>题目标题</th>
                <th>学生姓名</th>
                <th>学生邮箱</th>
                <th>答复时间</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo">
                <tr th:each="simpleAppraisal:${appraisalList}">
                    <td style="text-align:left; padding-left:20px;">
                        <!--<input type="checkbox" name="id[]" value=""/>-->
                        <label th:utext="${simpleAppraisal.id}"></label>
                    </td>
                    <td><a href="#"><p color="#00CC99" style="margin-bottom:0px;" th:utext="${simpleAppraisal.detailAnswer.questionWithDiff.title}"></p></a>
                    </td>
                    <td th:utext="${simpleAppraisal.detailAnswer.account.name}"></td>
                    <td th:utext="${simpleAppraisal.detailAnswer.account.email}"></td>
                    <td th:utext="${simpleAppraisal.date}"></td>
                    <td colspan="7" style="text-align:center;">
                        <div class="button-group">
                            <a class="button border-main" style="padding:2px 8px;" target="right"
                               th:href="'/student/gotoLookAppraisal/'+${simpleAppraisal.id}">
                                <span class="icon-edit"></span> 查看
                            </a>
                        </div>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</form>
<script type="text/javascript" th:inline="javascript">

    //搜索
    function changesearch() {

    }

    //单个删除
    function del(id, mid, iscid) {
        if (confirm("您确定要删除吗?")) {

        }
    }

    //全选
    $("#checkall").click(function () {
        $("input[name='id[]']").each(function () {
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect() {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;
            $("#listform").submit();
        }
        else {
            alert("请选择您要删除的内容!");
            return false;
        }
    }

    (function () {
        let hint = [[${okHint}]];
        if (hint != null) {
            alert(hint);
        }
    })();
</script>
</body>
</html>