<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>新增题目</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" th:action="${formAction}">
            <div class="form-group">
                <div class="label">
                    <label>标题：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题"/>
                    <div class="tips"></div>
                </div>
            </div>
            <ul class="list-inline" style="padding-left: 40px;  padding-bottom: 25px;">
                <li>英文简称:</li>
                <li style="padding-right: 150px;">
                    <div class="field">
                        <input type="text" class="input" name="enName" value="" placeholder="必须输入英文"/>
                    </div>
                </li>
                <li>题目难度：</li>
                <li style="padding-left:15px;">
                    <div class="field">
                        <input name="difficulty" id="isone" type="radio" value="1"/>简单
                        <input name="difficulty" id="istwo" type="radio" value="2"/>中等
                        <input name="difficulty" id="isthree" type="radio" value="3"/>困难
                    </div>
                </li>
            </ul>
            <div class="form-group">
                <div class="label">
                    <label>内容：</label>
                </div>
                <div class="field">
                    <textarea name="content" class="input"
                              style="height:300px; border:1px solid #ddd;overflow: auto;"></textarea>
                    <div class="tips"></div>
                </div>
            </div>
            <div style="padding-left: 40%;" class="field">
                <button class="button bg-main icon-check-square-o" type="submit">保存</button>
                <button class="button bg-main icon-check-square-o" type="reset"> 取消</button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    (function () {
        let hint = [[${okHint}]];
        if (hint != null) {
            alert(hint);
        }
    })();
</script>
</body>
</html>